@if (Settings.Features.AppSidebar)
{
<aside class="page-sidebar">
	<partial name="_Logo"/>
		
		<form class="form-inline" method="post" asp-controller="Page" asp-action="Logout">
			<button type="submit" class="nav-link btn btn-link text-left">
				<i class="nav-link-icon fal fa-power-off"></i>
				<span class="nav-link-text" data-i18n="nav.utilities">Cerrar Sesión</span>
			</button>
		</form>
		<nav id="js-primary-nav" class="primary-nav" role="navigation">
			
		<vc:navigation  />
		<partial name="_NavFilterMsg"/>
	</nav>
	<partial name="_NavFooter"/>
		
</aside>
}