@if (Settings.Features.AppFooter)
{
<footer class="page-footer" role="contentinfo">
	<div class="d-flex align-items-center flex-1 text-muted">
		<span class="hidden-md-down fw-700">2025 &copy; @Settings.App for @Settings.AppFlavor by&nbsp;<a href="#" class="text-primary fw-500" title="ECAR T.I." target="_blank">Juan Esteban Gallego Cano</a></span>
	</div>
	<div>
		<ul class="list-table m-0">
		@* 	<li><a href="/documentacion/info" class="text-secondary fw-700">Acerca de</a></li>
			<li class="pl-3"><a href="/info/applicensing" class="text-secondary fw-700">Licencia</a></li>
 			<li class="pl-3"><a href="/info/appdocs" class="text-secondary fw-700">Documentación</a></li>
			<li class="pl-3 fs-xl"><a href="https://ecar.com.co" class="text-secondary" target="_blank"><i class="@(Settings.Theme.IconPrefix) fa-question-circle" aria-hidden="true"></i></a></li>*@
		</ul>
	</div>
</footer>
}